{% extends "admin/change_list.html" %}

{% block extrahead %}
    <style>
        /* Styles for the .statistics container */
        .diagram,
        .statistics {
            background-color: #f0f0f0;
            padding: 10px;
            border: 1px solid #ddd;
            margin-top: 20px;
        }

        #Diagram {
            max-height: 300px;
        }

        /* Styles for paragraph elements within .statistics */
        .statistics p {
            font-size: 16px;
            margin: 10px 0;
        }

        .diagram h5,
        .statistics h5 {
            text-align: center;
        }

        /* Styles for unordered lists within .statistics */
        .statistics ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        /* Styles for list items within unordered lists */
        .statistics ul li {
            font-size: 14px;
            margin: 5px 0;
        }
    </style>
{% endblock %}

{% block content %}
    {{ block.super }}

    <div class="statistics">
        <h5>Статистика за последнее голосование:</h5>
        <p>Общее количество голосов: {{ statistics.total_votes }}</p>
        <p>Топ-5 популярных продуктов:</p>
        <ul>
            {% for product in statistics.top_products %}
                <li>{{ product.product__title }} ({{ product.product_count }} голосов)</li>
            {% endfor %}
        </ul>
        <p>Топ-5 популярных категорий:</p>
        <ul>
            {% for category in statistics.top_categories %}
                <li>{{ category.category__title }} ({{ category.category_count }} голосов)</li>
            {% endfor %}
        </ul>
        <p>Топ-5 популярных акций:</p>
        <ul>
            {% for promotion in statistics.top_promotions %}
                <li>{{ promotion.promotion__title }} ({{ promotion.promotion_count }} голосов)</li>
            {% endfor %}
        </ul>
    </div>

    <div class="diagram">
        <h5>Диаграма за последнее голосование</h5>
        <canvas id="Diagram"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('Diagram');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Продукты', 'Категории', 'Акции'],
                datasets: [{
                    label: 'голосов',
                    data: [{{ statistics.total_products_votes }},
                        {{ statistics.total_categories_votes }},
                        {{ statistics.total_promotions_votes }}],
                    backgroundColor: [
                        'rgba(75, 192, 192, 0.5)', // Цвет для Продуктов
                        'rgba(255, 99, 132, 0.5)', // Цвет для Категорий
                        'rgba(255, 205, 86, 0.5)'  // Цвет для Акций
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)', // Цвет границы для Продуктов
                        'rgba(255, 99, 132, 1)', // Цвет границы для Категорий
                        'rgba(255, 205, 86, 1)'  // Цвет границы для Акций
                    ],
                    borderWidth: 3
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    legend: {
                        display: true,
                        position: 'top'
                    },
                },
                layout: {
                    padding: {
                        left: 20, // Отступ слева
                        right: 20, // Отступ справа
                        top: 20, // Отступ сверху
                        bottom: 20 // Отступ снизу
                    }
                },
                maintainAspectRatio: false // Позволит диаграмме изменять соотношение сторон
            }
        });
    </script>


{% endblock %}
